header{background-color:black;}
h1{color:#25a2c3;}
h2{color:white;}
main{background-image:url(images/banner.jpg);}
section{background-color:#e22d0e;}
button{background-color:#f04c2f;
    border-style:none;
    color:white; 
    border-radius:10px 10px 10px 10px;
    width: 100px;
    height: 30px;}
footer{background-color: #25a2c3;}    